 .nav{
      height:50px;
      position: fixed;
      z-index: 10;
      width: 100%;
      background-color: #000;
      color: #FFF;
  }
  
 .nav ul ul {
	display: none;
}

	.nav ul li:hover > ul {
		display: block;
	}
.nav ul {
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
        float: right;
}
.nav ul:after {
		content: ""; clear: both; display: block;
            }
.nav ul li {
	float: left;
        padding-left: 15px;
}
.nav ul li:hover {
		background: #4b545f;
	}
.nav ul li:hover a {
			color: #fff;
		}
	
.nav ul li a {
		display: block;
		color: #FFF;
                text-decoration: none;
	}
.nav ul ul {
	background: #008B8B;
        border-radius: 0px;
        padding: 0;
	position:
        absolute;
        top: 100%;
}
.nav ul ul li {
		float: none; 
		border-top: 1px solid #2F4F4F;
		border-bottom: 1px solid #2F4F4F;
		position: relative;
	}
.nav ul ul li a {
			padding: 15px;
			color: #fff;
		}	
.nav ul ul li a:hover {
				background: #2F4F4F;
			}

