{% extends "base.html"%}
{% load humanize %}

{% block content %}
<div class="box">
<div class="flexslider">
<ul class="slides">
<li><img src="http://www.goheels.com/pics33/1024/PP/PPWNSKMXTEWWTTT.20140302202543.jpg"/></li>
<li><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/640/UH/UHMKKFMQDNQXOHR.20130422152523.jpg"/></li>
<li><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/1024/EA/EASHSBLEOEMUBTQ.20140301234653.jpg"/></li>
<li><img src="http://www.goheels.com/pics33/1024/GD/GDKIDBQLLODNDUT.20140302204517.jpg"/></li>
<li><img src="http://image.cdnllnwnl.xosnetwork.com/pics33/640/KZ/KZNTLEJYHOFLUJK.20140202161344.jpg"/></li>
</ul>
</div>
</div>
{% endblock %}



